body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #813a3a;
    text-shadow: 0 0 10px rgb(255 26 0 / 45%);
}

p {
    color: #813a3a;
    font-weight: bold;
    font-size: 94%;
    margin-top: -2%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 8%;
    margin-top: 4%;
}


.typeCard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffe5e5;
    color: #833333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}

.radio-label:hover {
    background-color: #ffc7c7;
}

label {
    font-weight: bold;
    color: #813a3a;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="radio"] {
    padding: 10px;
    border: 1px solid #582121;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffe5e5;
    color: #833333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc7c7;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9f6e9;
    border: 1px solid #d4eed4;
    border-radius: 5px;
    color: #833333;
    font-weight: bold;
    text-align: center;
}

.n-msg {
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    background-color: #ffe5e5;
    border-radius: 5px;
    border-color: #ccc;
    color: #743434;
    display: flex;
    justify-content: center;
}

.button-login {
    cursor: pointer;
    margin-left: 90%;
    margin-top: -20%;
}
